p{
    font-size: 14px;
}

h1{
    text-align: center;
    font-size: 48px;
}

#links{
    text-align:center;
    margin: auto;
    border-radius: 30px;
    padding: 20px;
    border: 2px dotted rgb(153, 229, 86);
    border-width: 5px;
    width: 300px;
    height: 20px;
    background-color: rgb(220, 220, 228);
    display: flex;
    gap: 40px;
}

.column{    
    display: flex;
    gap: 50px;
    font-family: Tahoma, sans-serif;
}

#python{
    text-align:left;
    background-color:rgb(100, 100, 229);
    border-radius: 15px;
    padding: 15px;
}

#java{
    text-align: left;
    background-color:rgb(97, 211, 97);
    border-radius: 15px; 
    padding: 15px;
}

#HTML{
    text-align: left;
    background-color:rgb(158, 233, 233);
    border-radius: 15px; 
    padding: 15px;
}

#C{
    text-align: left;
    background-color:rgba(173, 84, 84, 0.286);
    border-radius: 15px; 
    padding: 15px;
}

img{
    width: 200px;
    height: 150px;
}

body{
    background-color: antiquewhite;
}